/* Set All HTML elements with border-box sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color:#FFFCFF;
}

/* Title of page*/
header {
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #50514F;
  color: #FFFCFF;
  height: 150px;
}

section {
  margin: auto;
  padding: 20px 80px 20px 80px;
}

h1 {
  font-size: 40px;
}

p {
  font-family: 'EB Garamound';
  font-size: 14px;
  line-height: 20px;
  padding-top: 15px;
}

ul, ol {
  font-family: 'EB Garamound';
  font-size: 14px;
}

li {
  list-style-position: inside;
}

a:link    { color: #50514F;  }
a:visited { color: #70716F;   }
a:hover   { color: green; }
a:active  { color: #70716F  }

.wrapper {
  margin: auto;
  padding: 20px 80px 20px 80px;
}

/* profile picture */
.self {
  width: 100px;
  padding-top: 15px;
}


